/Heuristic-Search-Checkers/.idea
/Heuristic-Search-Checkers/Checkers.jar
/Heuristic-Search-Checkers/checkers/
/Logistic-Reasoning-Wumpus/Jovolog
.idea
/4-Markov-Decision-Problems/build/
/4-Markov-Decision-Problems/cmake-build-debug/
/5-Classifier-Machine-Learning/venv/
/5-Classifier-Machine-Learning/__pycache__/
